# 📦 Dependencies
node_modules/

# 🚀 Build Outputs (ไฟล์ที่ได้จากการ Build ของ Vite)
dist/
dist-ssr/

# 🔐 Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 📝 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# 💻 OS Files
.DS_Store
Thumbs.db

# 🛠️ Editor Settings
.vscode/*
!.vscode/extensions.json
.idea/